<h1>Show Profile</h1>


<%if @profile.present?%>
<div style='width: 50%; float:left; float:top;'>
<ul class="list-group">
  <li class="list-group-item"><strong>Name 		 : </strong> <%=@profile.name%> </li>
  <li class="list-group-item"><strong>Address 		 : </strong> <%=@profile.address%> </li>
  <li class="list-group-item"><strong>Sex 			 : </strong> <%=@profile.sex%></li>
  <li class="list-group-item"><strong>Date of Birth : </strong> <%=@profile.birthday%></li>
  <li class="list-group-item"><strong>Mobile Number	 : </strong> <%=@profile.tel%></li>
  <li class="list-group-item"><strong>Email Address	 : </strong> <%=@profile.user.email%></li>
</ul>
</div>
<div style='width: 30%; float:right; float:top;'>
	
	<img src=<%=@profile.photo.url%> alt="..." class="img-circle">
</div>
<%else%>
<%= "Profile not found" %>
<%end%>
