<h1>Listing posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Ride From</th>
      <th>To</th>
      <th>Way</th>
      <th>Price</th>
      <th>Post by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.from %></td>
        <td><%= post.to %></td>
        <td><%= post.way %></td>
        <td><%= post.price %></td>

        <td><%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %></td>
        
        <td><%= link_to 'Show', post %></td>

        <% if can? :update, post %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% end %>
        <% if can? :update, post %>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
        <td>
          <script src="https://checkout.stripe.com/checkout.js"></script>

            <button id="customButton">Purchase</button>

          <script>
            var handler = StripeCheckout.configure({
              key: 'pk_test_BWU2ohVZ6qx5xtEUjzPOPK4b',
              image: '/img/documentation/checkout/marketplace.png',
              token: function(token) {
                // Use the token to create the charge with a server-side script.
                // You can access the token ID with `token.id`
              }
            });

            $('#customButton').on('click', function(e) {
              // Open Checkout with further options
              handler.open({
                name: 'Faisal',
                description: '2 widgets',
                amount: <%= post.price %>
              });
              e.preventDefault();
            });

            // Close Checkout on page navigation
            $(window).on('popstate', function() {
              handler.close();
            });
          </script>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if @posts.exists?%>
<%= link_to 'New Post', new_post_path %>
<%else%>
<%= link_to 'New Post', new_post_path %>

<%end%>

